
@import "ui-variables";

@import "nord";


.sheet-toolbar {
  // border-bottom: 1px solid @border-color-divider;
  border-bottom: none;
  box-shadow: none;
  height: 33px;
  min-height: 33px;
  max-height: 33px;
}

.thread-icon:not(.thread-icon-unread):not(.thread-icon-star) {
  -webkit-filter: invert(100%);
}
img.content-dark {
  -webkit-filter: invert(100%);
}
img.content-light {
  -webkit-filter: invert(100%);
}

.mail-label {
  -webkit-filter: contrast(110%) brightness(85%);
}

#message-list .message-item-wrap .message-item-white-wrap {
  box-shadow: 0 0 0.5px rgba(255, 255, 255, 0.28),
    0 1px 1.5px rgba(255, 255, 255, 0.08);
}

.thread-list .list-item:not(.unread):not(.selected):not(.focused) {
  color: #aaa;
}


// SIDEBAR

.toolbar-RootSidebar {
  background-color: @nord0;
}
.outline-view .heading {
  color: @nord6;
  padding-top: 5px;
  padding-bottom: 5px;
}
.disclosure-triangle div {
  border-left-color: @nord4;
}
.outline-view .item img.content-mask {
  background-color: @nord6;
}
.outline-view .item {
  color: @nord6;
}

.outline-view .item-container {
  padding: 1px 0;
}

.scrollbar-track {
  border-left: none;
  background: @nord0;
}
.scrollbar-track .scrollbar-handle {
  border: none;
  background-color: @nord3;
  border-radius: 5px !important;
}

body.platform-win32 .item-count-box {
  border-radius: 3px !important;
}

.sidebar-activity {
  box-shadow: none;
  color: @nord0;
  font-weight: 600;
}
